* {
  font-family: "Quicksand", sans-serif;
}
#root {
  background-image: url("../_assets//images/login-background.jpeg");
  display: flex;
  width: 100%;
  height: 100vh;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.booking-room {
  background: white;
  min-width: 700px;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.room-item {
  padding: 0.5rem;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 0px 1px 1px rgba(116, 115, 115, 0.2);
  cursor: pointer;
}
.room-item:hover {
  background: rgb(242, 241, 241);
}
.room-item .room {
  font-weight: 550;
  font-size: 1.125rem;
}
.room-item .room-status {
  color: gray;
}
.room-action {
  font-size: 25px;
  text-decoration: none;
  color: rgb(53, 53, 53);
}

.listing .avatar {
  width: 30px;
  height: 30px;
  margin: auto;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid white;
  box-sizing: content-box;
  box-shadow: 0px 0px 1px 1px rgb(214, 213, 213);
}

.avatar img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
}
.info .email,
.info .team {
  font-size: 14px;
  color: gray;
  font-style: italic;
}

.listing input[type="radio"] {
  width: 20px;
}

.listing label {
  padding: 0.5rem;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 0px 1px 1px rgba(116, 115, 115, 0.2);
  cursor: pointer;
  user-select: none;
  padding: 0.5rem 1rem;
}

.listing {
  padding: 0.25rem;
  max-height: 100%;
  overflow-y: auto;
}
