* {
    font-family: 'Quicksand', sans-serif;
}
#root{
    background-image: url('../_assets//images/login-background.jpeg');
    display: flex;
    width: 100%;
    height: 100vh;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.register-form{
    background-color: white;
    padding: 2rem 3rem;
    display: inline-block;
    height: min-content;
    border-radius: 1.5rem;
    min-width:450px;
    max-width: 100%;
}

.register-form .form-group{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.register-form form{

    display: flex;
    flex-direction: column;
    gap: 10px;
}
#forgot-password{
    text-decoration: none;
}

#register-btn{
    
    margin-top: 1rem;
}
.form-action button{
    display: block;
    width: 100%;
    border-radius: 2rem;
}

.form-field{
    display: flex;
    border-bottom: 1px solid rgb(201, 199, 199);
    column-gap: 0.25rem;
    align-items: center;
}
.form-field .form-control{
    border: none;
}

.form-field .form-control:focus{
    border: none;
    box-shadow: none;
    background-color: transparent !important;
}

.form-field .icon{
    display: inline-block;
    width: 30px;
}

