
* {
    font-family: 'Quicksand', sans-serif;
}
#root{
    background-image: url('../_assets//images/login-background.jpeg');
    display: flex;
    width: 100%;
    height: 100vh;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
    
#profile{
    background-color: white;
    min-width: 400px;
    max-width: 100%;
    padding-bottom: 1rem;
    /* border-radius: 1rem; */
}
.heading{
    border-bottom: 1px solid gainsboro;
    width: 100%;
    padding: 0.25rem 0;
}

.info{
    display: flex;
    flex-direction: column;
}

.avatar-wrapper{
    width: 150px;
    margin: auto;
    border-radius: 100%;
    overflow: hidden;
    border: 3px solid white;
    box-sizing: content-box;
    box-shadow: 0px 0px 1px 1px rgb(214, 213, 213);
}
.avatar{
    display: inline-block;
    position: relative;
    width: 100%;
    padding-top: 100%;
    
}
.avatar img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    object-position: center;
    
}
.info-field{
    border-bottom: 1px solid rgb(232, 229, 229);
}
.info-field .value{
    font-weight: 550;
}

.info-field .label{
    color:rgb(70 83 94);
}
.avatar-group{
    position: relative;
    width: fit-content;
    margin: auto;
}
.upload-avatar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 32px;
    color: white;
}


.thumb{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.514);
    opacity: 0;
    cursor: pointer;
    transition: all 0.5s linear;
}

.thumb:hover{
    opacity: 1;
}

